@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body {
    .poppins-thin {
        font-family: "Poppins", serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", serif;
        font-weight: 900;
        font-style: italic;
      }
      background-color: rgb(6, 9, 53);
    }   
    img {
        max-width: 100%;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header {
        background-image: url(images\ ZapShield/);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        min-height: 80vh;
        padding: 80px 0;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
    color: rgb(204, 131, 21);
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;

    }

    .menu .navbar ul li {
        position: relative;
        float: left;
    }

    .menu .navbar ul li a {
        font-size: 18px;
        padding: 20px;
        color: beige;
        font-weight: 600;
        display: block;
    }
    .menu .navbar ul li a:hover{
        color: darkorange;
    }
    #menu {
        display: none;
    }

    .menu-icono {
        width: 25px;
    }
    .menu label {
        cursor: pointer;
        display: none;
    }

    .header-content {
        display: flex;
    }

    .header-txt {
        flex-basis: 50%;
    }

    .header-txt h1 {
        font-size: 60px;
        color: rgb(255, 255, 255);
        line-height: 1.3;
        margin-bottom: 25px;
    }
    
    .header-txt span {
        color: darkorange;
    }

    .header.txt p {
        font-size: 17px;
        color: rgb(255, 255, 255);
        margin-bottom: 45px;
    }

    .butons {
        display: flex;
    }

    .btn-1, .btn-2, .btn-3 {
        display: inline-block;
        padding: 11px 35px;
        border: 2px solid darkorange;
        border-radius: 25px;
        margin-right: 25px;
        font-size: 17px;
        color: rgb(255, 255, 255);

    }

    .btn-1:hover {
        background-color: darkorange;
    }

    .popular {
        padding: 100px 0;
        text-align: center;
    }

    h2 {
        color: white;
        font-size: 35px;
        margin-bottom: 45px;
    }

    .popular-content img {
        width: 500px;
    }

    .product-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    .product-1 {
        background-color: rgb(5, 5, 43);
    }

    .product-txt {
        padding: 50px 30px;
    }

    h3{
        font-size: 20px ;
        color: white;
        margin-bottom: 20px;
    }

    .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .price p {
        font-size: 17px;
        color: darkorange;
    }

    .btn-2 {
        padding: 5px;
        background-color: darkorange;
        margin-right: 0;
    }

    .contact {
        padding: 150px 300px;
    }

    .contact-content {
        background-color: #2a223a;
        text-align: center;
        padding: 50px;
        border-radius: 50px;
    }

    form {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    input {
        padding: 18px 25px;
        background-color: #3f3456;
        border: 0;
        border-radius: 25px;
        outline: none;
        margin-right: 10px;
        color: white;
        font-size: 17px;
    }

    ::placeholder {
        color: #e0e0e0;
        font-size: 17px;
    }

    .btn-3 {
        background-color: darkorange;
        cursor: pointer;
        margin-right: 0;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }

    .link ul {
        display: flex;
    }

    .link ul li > a {
        font-size: 17px;
        color: white;
        margin-right: 20px;
    }

    .link ul li > a:hover {
        color: darkorange;
    }

    @media(max-width:991px) {
        .menu {
            padding: 20px;
        }

        .menu label {
            display: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: darkorange;
            display: none;
        }

        .menu .navbar ul li a:hover {
            color: rgb(3, 3, 36);
        }

        .menu .navbar ul li {
            width: 100%;
        }

        #menu:checked ~ .navbar {
            display: initial;
        }

        .header {
            min-height: 0v;
            padding: 80px 30px 50px 30px;
        }

        .header-txt {
            text-align: center;
            flex-basis: 100%;
        }

        .header-txt h1 {
            font-size: 50px;
            margin-bottom: 15px;
        }

        .butons {
            justify-content: center;
        }

        .btn-1:last-of-type {
            margin-right: 0;
        }

        .popular {
            display: none;
        }

        .product {
            padding: 30px;
        }

        .product-content {
            grid-template-columns: repeat(1,1fr);
            gap: 30;
        }

        .product-1 img {
            width: 100%;
        }
        
        .contact {
            padding: 30px;
        }

        form {
            flex-direction: column;
        }

        input {
            
            margin: 0 0 20px 0;
        }

        .footer {
            flex-direction: column;
            text-align: center;
        }

        .link ul {
            margin-top: 20px;

        }

    }